{% extends 'BackendBundle::security_layout.html.twig' %}

{% block title %}{% trans %}navigation.forgot_password{% endtrans %}{% endblock %}

{% block content %}
    <article id="content">
        <form class="form-b" method="POST" action="{{ path('backend_forgot_password') }}">
            <p class="scheme-b">To reset your password, please enter your email address below.</p>
            <p>
                <input class="form-control input-lg" placeholder="{{ 'labels.email_address'|trans }}" type="email" id="forgot-email" name="email" required>
            </p>
            <p class="text-center">
                <button class="btn btn-info btn-block btn-lg" type="submit">{{ 'navigation.reset_password'|trans }}</button>
            </p>
        </form>
    </article>
{% endblock %}
