{% extends 'BackendBundle::security_layout.html.twig' %}

{% block title %}{% trans %}navigation.reset_password{% endtrans %}{% endblock %}

{% block content %}
    <form class="form-b" method="POST" action="{{ path('backend_reset_password', {token: token}) }}">
        <p class="scheme-b">To reset your password, please enter your new password below.</p>
        <div class="form-group m-b-20">
            {{ form_widget(form.password.first, {'attr': {'placeholder': 'labels.new_password', 'class' : 'form-control input-lg'}}) }}
        </div>
        <div class="form-group m-b-20">
            {{ form_widget(form.password.second, {'attr': {'placeholder': 'labels.new_password_confirm', 'class' : 'form-control input-lg'}}) }}
        </div>
        {{ form_rest(form) }}
        <p class="link-a text-center">
            <button class="btn btn-success btn-block btn-lg" type="submit">Reset password</button>
        </p>
    </form>
{% endblock %}
