{% extends '@Admin/layout.html.twig' %}

{% block title %}{{ 'navigation.terms.privacy_policy'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="active">{{ 'navigation.terms.privacy_policy'|trans }}</li>
{% endblock %}

{% block content %}
<div class="container">
    <p>
        Last updated: June 27, 2017
    </p>
    <p>
        Fathom Realty ("us", "we", or "our") operates my.fathomrealty.com (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.
    </p>
    <p>
        We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy. It is our strict policy never to share or sell your personal information.
    <p>
        <strong>Information Collection And Use</strong>
    </p>
    <p>
        While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Your identifiable information is not shared or sold. 
    </p>
    <p>
        <strong>Log Data</strong>
    </p>
    <p>
        Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").
    </p>
    <p>
        This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics. Log data collected will never be shared or sold. In addition, your payment details, such as credit card information, is not stored and will never be shared by us.
    </p>
</div>
{% endblock content %}
