{% extends '@Admin/layout.html.twig' %}

{% block title %}{{ 'navigation.terms.refund_policy'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="active">{{ 'navigation.terms.refund_policy'|trans }}</li>
{% endblock %}

{% block content %}
<div class="container">
    <p>
        Although Real Estate Agent may terminate the Broker/Agent relationship at any time and for any reason, with a 30 day notice, refunds are not given.
    </p>
    <p>
        When leaving Fathom Realty you must return all company property assigned or loaned to you.
    </p>
    <p>
        Listings can move with the exiting agent, if they are remaining in the industry if the listing was not provided through Fathom Realty. Company assigned listing leads will be handled on a case-by-case basis at the Broker's discretion.
    <p>
        On signed transactions that are in progress including, but not limited to those in title, commission pay-outs shall be subject to the agents current Schedule A. Agents are entitled to receive commissions on transactions that are under contract at the time of termination and close after the date of termination. The Company reserves the right to assign another associate the closing responsibility and compensate them up to 30% of your portion of the commission for their work on the transaction. Fathom Realty reserves the right to deduct any fees or monies owed to the company from the agent's commission on a transaction following termination.
    </p>
    <p>
        In the case of Buyer Representation agreements in place at the time of the termination, the agent shall retain the buyers who have signed a buyer representation. (This also applies to Fathom 'Company Leads' on which the Agent shall owe Fathom the referral fee and transaction fee per the Schedule A when it closes.) If there is no written agreement in place, the buyer is able to decide whether to work with the Company or the agent who represented them previously.
    </p>
</div>
{% endblock content %}
